<section class="container">
  <div class="flex-container">
    <div>
      <h1>
        Well Hello There Employer Im <span class="highlight-text"
          >Zach Ellis</span
        >
      </h1>
      <p>I hail from Charleston West Virginia</p>
      <p>
        Im curently working on being a backend web developer my first databases
        that im learning will be <span class="highlight-text">SQL MySQL</span> and
        ill be learning <span class="highlight-text">PHP</span> as the language for
        those databases
      </p>
    </div>
    <div>
      <img
        width="300"
        height="300"
        src="mobile_banner.jpg"
        class="float-right"
      />
    </div>
    <div>
      <img
        width="300"
        height="300"
        src="pexels-dmitry-gornaev-8611160.jpg"
        class="float-right"
      />
    </div>
  </div>
</section>

<style>
  .flex-container {
    display: flex;

    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    padding: 15px;
    gap: 5px;
  }

  section {
    border-left: 1px solid white;
    border-right: 1px solid white;
    line-height: 2;
  }

  img {
    border: 1px solid whitesmoke;
    border-radius: 20px;
  }

  .highlight-text {
    color: var(--color-primary-bright-green);
  }
</style>
